/* .Cards{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} */
.container{
    margin: 20px 0;
}
.Cards{
margin:0 20px;
}
.InfectedCard{
    margin:0 20px !important;
    border-bottom: 10px solid rgb(0, 0, 255,0.5)
}
.recoveredCard{
    margin:0 20px !important;
    border-bottom: 10px solid rgb(0, 255, 0,0.5)
}
.deathsCard{
    margin:0 20px !important;
    border-bottom: 10px solid rgb(255, 0, 0,0.5)
}